* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
    
    
}
.navbar {
	--light: #0f0909;
	--dark: #070a0a;
}
.life {
	background-color: rgb(17, 17, 7);
}
.navbar{
	border-radius: 7px;
	color: #a14343;
	font: 600 18px 'Open Sans';
	padding: 11px;
}
.skill:nth-child(even):nth-child(even) {
	background-color: var(--dark);
	color: var(--light);
    padding: 1px;
}
.hobbies::nth-child(odd) {
	background-color: var(--light);
	color: var(--dark);
	margin: 10%;
}